{{ form_start(form) }}
    <label class="block">
        <span class="text-gray-700">Titre</span>
        {{ form_widget(form.titre, {'attr': {'class': 'form-input mt-1 block w-full'}}) }}
    </label>

    <label class="block pt-10 pb-10">
        <span class="text-gray-700">Description</span>
        {{ form_widget(form.description, {'attr': {'class': 'form-input mt-1 block w-full'}}) }}
    </label>


    {{ form_label(form.tag) }}
    <ul id="tags-list"
        data-prototype="{{ form_widget(form.tag.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.tag|length }}">
        {% for tag in form.tag %}
            <li>
                {{ form_errors(tag) }}
                {{ form_widget(tag) }}
            </li>
        {% endfor %}
    </ul>
    {% if not form.tag.vars.value|length > 0 %}
        {{ form_widget(form.tag) }}
    {% endif %}                                    
    <button type="button" class="mt-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded add-another-collection-widget" data-list-selector="#tags-list">Ajouter un tag</button>
    <br>
    <button class="mt-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
// add-collection-widget.js
jQuery(document).ready(function () {
    $collectionHolder = $('ul#tags-list');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

    jQuery('.add-another-collection-widget').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        addTagFormDeleteLink(newElem);
        newElem.appendTo(list);
    });

    function addTagFormDeleteLink(tagFormLi) {
        console.log($(tagFormLi))
        var $removeFormButton = $('<button type="button" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded">Delete this tag</button>');
        tagFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            tagFormLi.remove();
        });
    }
});
</script>