{% extends 'base.html.twig' %}

{% block title %}Suggestion{% endblock %}

{% block body %}
    <h1>Suggestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suggestion.id }}</td>
            </tr>
            <tr>
                <th>DateDeCreation</th>
                <td>{{ suggestion.dateDeCreation ? suggestion.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ suggestion.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ suggestion.description }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {% for tag in suggestion.tag %}
                        <span>{{ tag|e }}</span>
                    {% endfor %}                                
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('suggestion_index') }}">back to list</a>

    <a href="{{ path('suggestion_edit', {'id': suggestion.id}) }}">edit</a>

    {{ include('suggestion/_delete_form.html.twig') }}
{% endblock %}
