{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
        <div id="main-content" class="w-full flex-1">

            <div class="flex flex-wrap  justify-center">

                <div class="w-full xl:w-2/3 p-6 xl:max-w-6xl">

                    <!--"Container" for the graphs"-->
                    <div class="max-w-full lg:max-w-3xl xl:max-w-5xl">

                        <!--Table Card-->
                        <div class="p-3">
                            <div class="border-b p-3">
                                <h1>User</h1>
                            </div>
                            <div class="p-5">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="text-left">Id</th>
                                            <td>{{ user.id }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Full Name</th>
                                            <td>{{ user.fullName }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Roles</th>
                                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{{ path('user_index') }}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded">back to list</a>
                            </div>
                        </div>
                        <!--/table Card-->

                    </div>

                </div>
            </div>

        </div>


{% endblock %}
